@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#homepage {
  background-image: url('images/restaurant_1.png');
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: calc(100vh - 100px);;
  width: calc(100vw - 100px);;
  margin: 0;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
#homewelcome {
  font-weight: 300;
}
#homeintro {
  font-weight: 100;
  font-size: 16px;
  max-width: 500px;
  padding-left: 25px;
  padding-right: 25px;
}
#homebuttons{
  margin-top: 40px;
}
.homebtn {
  padding: 10px 30px 10px 30px;
}

#menuarrowleft {
  position: absolute;
/*   display: flex;
  align-self: center; */
  margin-left: 20px;
  left: 0;
}
#menuarrowright {
  position: absolute;
  display: flex;
  align-self: center;
  margin-right: 20px;
  right: 0;
}

.sidenav {
  background-color: black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: stretc;
  justify-content: space-evenly;
  min-width: calc(48px + 40px);
  max-width: calc(48px + 40px);
  max-height: 850px;
  font-weight: 900;
  font-size: 48px;
  margin-right: 50px;
  padding: 0;
  overflow: hidden;
  box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);

}
.sidenav a {
  font-size: 48px !important;
  padding: 20px;
  color: white;
  text-decoration: none;
  margin: 0;
}
.sidenav a:first-child{
  color: #F1D5BB;
  flex-shrink: 1;
}
.sidenav a:active, .sidenav a:hover{
  background-color: #F1D5BB;
  color: black;
}
.sidenav a>span{
  font-size: 48px !important;
}
.menucartpage {
  display: flex;
  margin: 30px 50px 30px 50px;
}
.pagemain{
  width: 100%;
}
.pagemain h1{
  font-weight: 400;
  border-bottom: solid 3px #F1D5BB;
  display: inline-block
}
#menulist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; 
}
#menulist li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cartlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0; 
}
#cartlist li {
  list-style: none;
  display: flex;
  border: 1px solid red;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.menuitems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loadmoremenubtn {
  color: white;
  background-color: black;
  padding: 10px 40px 10px 40px;
  flex-grow: 0;
}
.cartmain {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  padding: 30px;
}
.pinkbg{
  background-color: #F1D5BB;
}
.cartcheckout {
  display: flex;
  flex-direction: column;
}
.cartimgdiv, .cartimgdiv img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.editcartitem {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-basis: 100%;
}
.namepricediv p:first-child{
  font-weight: 500;
}
.namepricediv p:nth-child(2){
  font-weight: 300;
}
.quantitydiv {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
}
.quantitydiv button, .removeitemdiv button {
  background: none;
  padding: 0;
  border: none;
  font-size: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
}
.quantitydiv p {
  background-color: white;
  padding: 5px 10px 5px 10px;
}

.footer{
  padding: 20px 0px 20px 0px; 
}
